<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="ldapContextSource" class="org.springframework.ldap.core.support.LdapContextSource">
        <property name="url" value="ldaps://14.1.9.14:636" />
        <property name="base" value="OU=Global,DC=ulaalumnos,DC=int" />
        <property name="userDn" value="CN=Service Account - CAS,OU=IT Service Accounts,OU=Accounts,DC=ulaalumnos,DC=int" />
        <property name="password" value="Apollo01" />
    </bean>

    <bean id="ldapTemplate" class="org.springframework.ldap.core.LdapTemplate">
        <constructor-arg ref="ldapContextSource" />
    </bean>
</beans>